@import "../../../setup/utilities/variables.scss";

.feTurbulence{
  transform: scale(1);
}

.svg-container__polygon{
  filter: url("#displacementFilter");
  transform: scale(1);
}

#B{
  opacity: 0;
}

#B text tspan{
  //letter-spacing: normal;
  font-family: $oxygen;
  //font-family: $inconsolata;
  //text-transform: lowercase;
  //text-transform: uppercase;
}

