.about{
  background-color: #fff;
  padding: 3rem 0;
}

.section-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

section h3{
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  margin: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

.sc__line{
  display: block;
  width: 20rem;
  height: .2rem;
  padding: 0 !important;
  background: #ccc;
  margin-left: auto;
  margin-right: auto;
}

.sc-info-main{
  margin: 2rem 0;
}

.sc__info-container{
  margin: 2rem;
}

.sc__header{
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sc__info{

}

.sc__links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.sc__link{
  padding: .7rem .25rem;
}

.Niners:hover{
  color: red;
}
.ml15 {
  font-weight: 800;
  /*font-size: 3.8em;*/
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline;
}

.ml15 .word {
  display: inline-block;
  /*line-height: 1em;*/
}

