@import "../../setup/utilities/variables.scss";

.about{
  /*background-color: #fff;*/
  padding: 3rem 0;
}

.section-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

section h3{
  color: #c3d9e8;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.sc__line{
  display: block;
  width: 20rem;
  height: .2rem;
  padding: 0 !important;
  background: #7ea3bd;
  margin-left: auto;
  margin-right: auto;
}

.sc-main{
  margin: 3rem 0;
}

.sc__info-container{
  margin: 2rem;
}

.sc__info{
  font-family: $coding-font;
}

.sc__header{
  color: #c3d9e8;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sc__links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-top: 1rem;
}

.sc__link{
  padding: .7rem .25rem;
}

.sc__link a{
  outline: none;
}

.sc__link svg{
  transition: all 0.3s ease-in-out 0s;
}

.sc__link svg:hover{
  fill: #7ea3bd;
}

.Niners:hover{
  color: red;
}
.ml15 {
  font-weight: 800;
  /*font-size: 3.8em;*/
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline;
}

.ml15 .word {
  display: inline-block;
  /*line-height: 1em;*/
}

