@import '../../setup/utilities/variables.scss';

.contact{
  padding: 3rem 0;
  font-weight: $light;
}

.contact-text{
  text-align: center;
  max-width: 40rem;
  font-family: $inconsolata;
}

.contact-email-link{
  text-decoration: none;
  outline: none;
  border: 1px solid $white;
  border-radius: 5px;
  padding: .7rem;
  margin-top: 2rem;
  transition: $fast;
}

.contact-email{
  color: $white;
  font-weight: $normal;
  font-size: 1.5rem;
  font-family: $inconsolata;
  position: relative;
  transition: $fast;
}

.contact-email-link:hover{
  border: $txt-secondary 1px solid;
  .contact-email{
    color: $txt-secondary;
  }
}

