.contact{
  /*background-color: #3b656e;*/
  padding: 3rem 0;
  /*color: #fff;*/
  font-weight: 100;
}

.contact-text{
  text-align: center;
  max-width: 40rem;
}

.contact-email{
  color: #c3d9e8;
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  top: 2rem;
}

.contact-email:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.contact-email::before{
  content: "";
  position: absolute;
  width: 15.2rem;
  height: .1rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.contact-email-link{
  text-decoration: none;
  outline: none;
}

