.experience{
  /*background-color: #fff;*/
  padding: 3rem 0;
}

.job-container{
  max-width: 32rem;
  padding: 2rem 2rem;
}

.experience-div div:last-child{
  padding-bottom: 0;
}

.jc__job-title{
  font-size: 1.2rem;
  position: absolute;
}

.jc__job-link{
  color: #c3d9e8;
  text-decoration: none;
  outline: none;
}

.jc__job-link:hover::before{
  visibility: visible;
  transform: scaleX(1);
}

.jc--underline-1::before{
  content: "";
  position: absolute;
  width: 10.5rem;
  height: .1rem;
  bottom: 0;
  left: 14.8rem;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.jc--underline-2::before{
  content: "";
  position: absolute;
  width: 4.6rem;
  height: .1rem;
  bottom: 0;
  left: 26.5rem;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.jc--underline-3::before{
  content: "";
  position: absolute;
  width: 15.9rem;
  height: .1rem;
  bottom: 0;
  left: 15.4rem;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.jc__date{
  font-size: .9rem;
  padding-top: 1.7rem;
}

.jc__job-bullets ul{
  list-style: disclosure-closed;
}

.jc__job-bullets li{
  padding: .5rem 0;
}
