@import "../../setup/utilities/variables.scss";

.header-container{
  height: 100vh;
  perspective: 340px;
  overflow: hidden;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.hc__h2{
  animation: crawl;
  margin: 1rem;
  opacity: 0;
  font-size: 2rem;
  color: $white;
  font-family: $star-wars;
  letter-spacing: .6rem;
}
.ic__h2-software{
  transform: skewX(-10deg);
}

.ic__h2-engineer{
  transform: skewX(10deg);
}

.intro-svg-container{
  width: 30%;
}

.intro-container{
  height: 93%
}

.intro-img-container{
  position: absolute;
  z-index: -100;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: $fast;
}

.iic--img{
  width: 100%;
  opacity: 0%;
  transition: $fast;
}

.show{
  opacity: 20%;
}


$stars: 350;         // Number of start per layer
$depth: 300;         // Depth between star layers
$speed: 10s;          // Number of seconds to transition between layers
$width: 3000;        // Width of the starfield
$height: 960;        // Height of the starfield

.stars1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  border-radius: 10px;
  $box-shadow: ();
  @for $i from 0 through $stars {
    $box-shadow: $box-shadow, (random($width)-$width/2 + px) (random($height)-$height/2 + px) hsl(90,0,75+random(25));
  }
  box-shadow: $box-shadow;
  animation: fly $speed linear infinite;
  transform-style: preserve-3d;
  
  &:before, &:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
  }
  &:before {
    transform: translateZ(-$depth + px);
    animation: fade1 $speed linear infinite;
  }
  &:after {
    transform: translateZ(-$depth * 2 + px);
    animation: fade2 $speed linear infinite;
  }
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ($depth + px);
  }
}

@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }  
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }  
}

.stars2{

}
