.skills{
  /*background-color: #eee;*/
  padding: 3rem 0;
}

.skills__text{
  text-align: center;
  /*padding-top: 3rem;*/
}

.sk__pref-stack{
  justify-content: space-around;
  padding: 4rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

.sk__skills-header{
  font-size: 1.3rem;
  align-self: center;
  color: #c3d9e8;
  padding-bottom: 2rem;
}

.sk__table-header{
  color: #c3d9e8;
}

.sk__rest-skills ul{
  list-style: disclosure-closed;
}

.sk__rest-skills ul:first-child{
  margin-right: 5rem;
}
  
.sk__rest-skills ul li{
  margin-bottom: 10px;
}
