@import '../../setup/utilities/variables.scss';

.skills{
  padding: 3rem 0;
}

.skills__text{
  text-align: center;
}

.sk-main-skill{
  font-family: $inconsolata;
}

.sk__pref-stack{
  justify-content: space-around;
  padding: 4rem 0;
  font-size: $txt-medium;
  font-weight: $bold;
  letter-spacing: 0.2rem;
}

.sk__skills-header{
  font-size: 1.3rem;
  align-self: center;
  color: $txt-secondary;
  padding-bottom: 2rem;
}

.sk__rest-skills ul{
  list-style: disclosure-closed;
}

.sk__rest-skills ul:first-child{
  margin-right: 5rem;
}
  
.sk__rest-skills ul li{
  margin-bottom: 10px;
  font-family: $inconsolata;
}

