@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');

@font-face{
  font-family: 'Star Wars';
  src: url(../components/ui/fonts/Starjedi.ttf);
  font-weight: normal;
}

$font-small: 'Source Sans Pro', Helvetica, Arial, sans-serif;

body {
  /*background-color: #252423;*/
  /*background-color: #5b9bbc;*/
  /*background-color: #1399c2;*/
  /*background-color: rgb(128,216,255);*/
  /*background:radial-gradient(#050526 10%,black 70%) 0vw 0vh no-repeat black;*/
  background: radial-gradient(ellipse at top, #050526 20%, transparent),
            radial-gradient(ellipse at bottom, #050526, transparent) black;
}


body {
  margin: 0;
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  color: #7ea3bd;
  font-weight: 100;
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: $font-small;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

*{
  scroll-behavior: smooth !important;
}

#root{
  height: 100%;
  /*width: 100%;*/
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.wrap{
  flex-wrap: wrap;
}

.line-height{
  line-height: 1.6;
}

.blur{
  filter: blur(4px);
  user-select: none;
}

