@font-face{
  font-family: 'Star Wars';
  src: url("../../components/ui/fonts/Starjedi.ttf");
  font-weight: normal;
}

@font-face{
  font-family: 'Inconsolata';
  src: url("../../components/ui/fonts/Inconsolata-Regular.ttf");
  font-weight: normal;
}

@font-face{
  font-family: 'Open Sans';
  src: url("../../components/ui/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url("../../components/ui/fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
}

$Open-Sans: 'Open Sans', Arial, sans-serif;
$Star-Wars: 'Star Wars', Arial, sans-serif;
$Sans-Pro: 'Source Sans Pro', Arial, sans-serif;
$Inconsolata: 'Inconsolata', Arial, sans-serif;

$font-color-big: #c3d9e8;
$font-color-small: #7ea3bd;

$font-size-small: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$coding-font: 'Inconsolata', monospace;
