@font-face{
  font-family: 'Star Wars';
  src: url("./fonts/Starjedi.ttf");
  font-weight: normal;
}

@font-face{
  font-family: 'Inconsolata';
  src: url("./fonts/Inconsolata-Regular.ttf");
  font-weight: normal;
}

@font-face{
  font-family: 'Oxygen';
  src: url("./fonts/Oxygen-Regular.ttf");
  font-weight: normal;
}

$star-wars: 'Star Wars', Arial, sans-serif;
$inconsolata: 'Inconsolata', Arial, sans-serif;
$oxygen: 'Oxygen', Arial, sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$txt-primary: #7ea3bd;
$txt-secondary: #c3d9e8;

$txt-small: 1rem;
$txt-medium: 1.7rem;
$txt-big: 2.5rem;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$white: #FFFF;
$black: #000;
$background: #050526;

$fast: all 0.3s ease-in-out 0s; 


