@import "../../setup/utilities/variables.scss";

.navbar{
  height: 7%;
  min-height: 3.25rem;
  transition: .2s ease-in-out;
}

.navbar ol{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar li{
  padding: 0 .5rem;
}

.navbar a{
  font-family: $star-wars;
  letter-spacing: .1rem;
  color: $white;
  font-weight: $normal;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

.navbar a:hover{
  opacity: .5;
}

.grey-out{
  opacity: .5;
}

.sticky{
  position: fixed;
  width: 100%;
  top: 0;
  transition: .2s ease-in-out;
  background: radial-gradient(rgba(5,5,38,.8) 50%,rgba(0, 0, 0, .7) 90%);
  box-shadow: 0 10px 30px -10px rgba(5,5,100,.7);
  z-index: 2;
}

.hidden{
  display: none;
}

.nav-logo{
  position: absolute;
  left: 0;
}

.nav--hide{
  opacity: 0;
}
